.pageNation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.userInfoLeftBtn {
  color: #cfcfcf;
  display: flex;
  justify-content: center;
}

.userInfoRightBtn {
  color: #cfcfcf;
  display: flex;
  justify-content: center;
}
