thead{
    background-color: #363a44;
    border: 0;
    color: #fff;
}
table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #e6e6e6;
}

.userInfo-options-table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.userInfo-options-table-th{
    padding: 6px 12px;
    
}

th,td{
    text-align: center;
    height: 40px;
}

.email{
    width: 25%;
    text-align: left;
    padding-left: 18px;
}

.profile{
    width: 15%;
}

.name{
    width: 20%;
}

.role{
    width: 20%;
}

.delete{
    width: 20%;
}

.userInfo-options-table-td{
    padding: 6px 12px;
}


.userInfo-options-table-td-userImg{
    width: 35px;
}


.pageNum{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.arrow{
    width: 15px;
}

.show{
    background-color: #ec6765;
}

.onDelete{
    background-color: #f5f5f5;
}

